.Dropdown > {

    .dropdown-item {
        &.radio:active, &.switch:active {
            color: var(--bs-dropdown-link-hover-color);
            background-color: var(--bs-dropdown-link-hover-bg);
        }
        &.switch, &.radio  {
            cursor: pointer;
            div * {
                cursor: inherit;
            }
        }
    }
    
}


  