@use "sass:color";



.Dropdown > {


    .dropdown-header {
        cursor:default;
    }

    .dropdown-item {

        cursor:pointer !important;

        * {
            cursor:inherit !important;
        }

        &.radio:hover, &.switch:hover {
            background-color: transparent;
            color: inherit;

        }

        &.range:hover, &.range:active {
            background-color: transparent;
            color: inherit;
        }

    }
    
}


  