

//@import "./bootswatch/materia/variables";
//@import "./bootswatch/darkly/variables";
//@import "./bootswatch/cerulean/variables";
//@import "./bootswatch/slate/variables";


/*
@import "./bootswatch/darkly/variables";
@import "./bootstrap/bootstrap.scss";
@import "./bootswatch/darkly/bootswatch";
*/
@import "./bootswatch/darkly/theme.scss";
//@import "./bootswatch/materia/theme.scss";

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

